{% extends 'movie_base.html' %}


{% block content %}

<h1>
    {{movie.title}}
    
</h1>
{{movie.description}}

{% if movie.user_id == request.user %}
<a href="{%url 'movies:update' movie.pk%}">수정하기</a>
<form action="{%url 'movies:delete' movie.pk%}" method='POST'>
    {% csrf_token %}
    <input type="submit" value='삭제하기'>
</form>
{% endif %}
<div>
<hr>
댓글 목록 
    {% for com in comments %}
    
    <li>

        {{com.user_id}} : {{com.content}} 

        {% if movie.user_id == request.user %}
            <form action="{%url 'movies:comments_delete' movie.pk com.pk%}" method='POST'>
            {% csrf_token %}
            <input type="submit" value='삭제하기'>
        </form>
        {% endif %}
    </li>
    {% endfor %}
<hr>
</div>
<form action="{%url 'movies:comments' movie.pk%}" method='POST'>
    {% csrf_token %}

    {{commentform.as_p}}
    <input type="submit", value='댓글 달기'>
</form>
{% endblock content %}